body, html{
	background-color: #E1DFDD;
	padding: 0;
	margin: 0;
    cursor: url('/src/img/iconan.png')27 27, auto;
}
#container {
	position: relative;
  	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 90px 1fr;
	gap: 20px;
	padding: 50px;
}
header{
	position: relative;
	grid-column-start: 1;
	grid-column-end: 5;
}
#content-wrap {
	padding-bottom: 2.5rem;
}
footer{
	width: 50%;
	grid-column-start: 1;
	grid-column-end: 5;
	position: relative;
  	bottom: 0;
  	height: 8rem; 
    margin-top: 100px;
}
a.nome{
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
	text-decoration-line: none;
    cursor: url('/src/img/iconav.png')27 27, auto;
}
a.email{
	position: absolute;
	top: 20%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
    cursor: url('/src/img/iconav.png')27 27, auto;
}
a.email:hover{
	text-decoration-line: underline;
}
a.insta{
	position: absolute;
	top: 35%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
    cursor: url('/src/img/iconav.png')27 27, auto;
}
a.insta:hover{
	text-decoration-line: underline;
}
p1{
	position: absolute;
	top: 20%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
}
#sottotitolo{
    position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
    margin-bottom: 100px;
}
.sottotitolo{
  
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
#testo1{
    position: relative;
	grid-column-start: 3;
	grid-column-end: 5;
    margin-bottom: 100px;
}
.testo1{

	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
#work{
    position: relative;
	grid-column-start: 1;
	grid-column-end: 2;
   
    padding: 0px;
}
p.work{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
#data{
    position: relative;
	grid-column-start: 2;
	grid-column-end: 3;
    margin: 0px;
    padding: 0px;
}
p.data{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
#position{
    position: relative;
	grid-column-start: 3;
	grid-column-end: 4;
    
    padding: 0px;
}
p.position{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
#place{
    position: relative;
	grid-column-start: 4;
	grid-column-end: 5;
   
    padding: 0px;
}
p.place{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
p.place2{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}

.about{
    position: relative;
    grid-column-start: 1;
	grid-column-end: 5;
	object-fit: cover;
	width: 100%;
	padding-bottom: 100px;
}
