body, html{
	background-color: #E1DFDD;
	padding: 0;
	margin: 0;
	cursor: url('./img/iconan.png')27 27, auto; /*icona nera*/
}
#container {
	position: relative;
  	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 90px 1fr;
	gap: 20px;
	padding: 50px;
}
header{
	position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
}
#content-wrap {
	padding-bottom: 2.5rem;    /* footer height */
}
footer{
	width: 50%;
	grid-column-start: 1;
	grid-column-end: 3;
	position: absolute;
  	bottom: 0;
  	height: 10rem; 
}
a.nome{
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
	text-decoration-line: none;
	cursor: url('/src/img/iconav.png')27 27, auto; /*icona verde*/
	
}
a.about{
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('/src/img/iconav.png')27 27, auto;
}
a.email{
	position: absolute;
	top: 20%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('/src/img/iconav.png')27 27, auto;
}
a.email:hover{
	text-decoration-line: underline;
}
a.insta{
	position: absolute;
	top: 35%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('/src/img/iconav.png')27 27, auto;
}
a.insta:hover{
	text-decoration-line: underline;
}
p1{
	position: absolute;
	top: 20%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
}
/* img sx id + class*/
#imgsx {
	position: relative;
	grid-area: imgsx;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-bottom: 100px;
}
#imgsx>img:hover {
	position: relative;
    webkit-filter: blur(1px); 
    filter: blur(4px);
}
#imgsx>img {
	position: relative;
	object-fit: cover;
	width: 100%;
	padding-bottom: 20px;
	cursor: url('/src/img/iconav.png')27 27, auto;
} 
.imgsx {
	position: relative;
	grid-area: imgsx;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-bottom: 100px;
	cursor: url('/src/img/iconav.png')27 27, auto;
}
.imgsx>img:hover {
	position: relative;
    webkit-filter: blur(1px); 
    filter: blur(4px);
}
.imgsx>img {
	position: relative;
	object-fit: cover;
	width: 100%;
	padding-bottom: 20px;
	cursor: url('/src/img/iconav.png')27 27, auto;
}

/* img dx id + class*/
#imgdx {
	position: relative;
	grid-area: imgdx;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-bottom: 100px;
}
#imgdx>img:hover {
	position: relative;
    webkit-filter: blur(1px); 
    filter: blur(4px);
}
#imgdx>img {
	position: relative;
	object-fit: cover;
	width: 100%;
	padding-bottom: 20px;
	cursor: url('/src/img/iconav.png')27 27, auto;
} 
.imgdx {
	position: relative;
	grid-area: imgdx;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-bottom: 100px;
	cursor: url('/src/img/iconav.png')27 27, auto;
}
.imgdx>img:hover {
	position: relative;
    webkit-filter: blur(1px); 
    filter: blur(4px);
}
.imgdx>img {
	position: relative;
	object-fit: cover;
	width: 100%;
	padding-bottom: 20px;
	cursor: url('/src/img/iconav.png')27 27, auto;
}


