body, html{
	background-color: #E1DFDD;
	padding: 0;
	margin: 0;
	cursor: url('./img/iconan.png')27 27, auto;
}
#container {
	position: relative;
  	min-height: 100vh;
	display: grid;
	grid-template-columns: 25% 1fr;
	grid-template-rows: 90px 1fr;
	gap: 20px;
	padding: 50px;
}
header{
	position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
}
#content-wrap {
	padding-bottom: 2.5rem;
}
footer{
	width: 50%;
	grid-column-start: 1;
	grid-column-end: 3;
	position: absolute;
  	bottom: 0;
  	height: 10rem; 
}
#arrows{
	z-index:99999;
	position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
	width: 300px;
	bottom: 50px;
	left: 50%;
}
.arrowdx{
	position: fixed;
	margin-left: 50px;
	cursor: url('./img/iconav.png')27 27, auto;
}
.arrowsx{
	position: fixed;
	margin-left: -50px;
	cursor: url('./img/iconav.png')27 27, auto;
}
.pagina{
	position: fixed;
	margin-top: -0.5px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
p.year{
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 0px;
	display: flex;
	align-items: flex-end;
	color: #000000; 
}
a.nome{
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
	text-decoration-line: none;
	cursor: url('./img/iconav.png')27 27, auto;
}
a.about{
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('./img/iconav.png')27 27, auto;
}
a.email{
	position: absolute;
	top: 20%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('./img/iconav.png')27 27, auto;
}
a.email:hover{
	text-decoration-line: underline;
}
a.insta{
	position: absolute;
	top: 35%;
	left: 25%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: right;
	color: #000000;
	text-decoration-line: none;
	text-align: right;
	cursor: url('./img/iconav.png')27 27, auto;
}
a.insta:hover{
	text-decoration-line: underline;
}
p1{
	position: absolute;
	top: 20%;
	font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	color: #000000;
}
#content{
    position: relative;
	grid-column-start: 1;
	grid-column-end: 3;
    margin-bottom: 100px;
}
#testo2{
    position: relative;
	grid-column-start: 1;
	grid-column-end: 2;
    margin-bottom: 100px;
}
#testo3{
    position: relative;
	grid-column-start: 2;
	grid-column-end: 3;
    margin-bottom: 100px;
}
#content>img {
    position: relative;
    grid-column-start: 1;
	grid-column-end: 3;
	object-fit: cover;
	width: 100%;
	padding-bottom: 20px;
} 
#testo2>p2{
    position: relative;
    grid-column-start: 1;
	grid-column-end: 2;
    font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	display: flex;
	align-items: flex-end;
	color: #000000;
}
#testo3>p3{
    position: relative;
    grid-column-start: 2;
	grid-column-end: 3;
    width: 75%;
    font-family: Albert Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	display: flex;
	align-items: flex-end;
	color: #000000;
    margin-bottom: 50px;
    
}